/*MOBILE*/
@media screen and (max-width: 767px) {
   
        body{
            font-size: 1.5rem;
        }

/*Introduction*/
.home-bgimage{
    width: 100%;
}
    
.home-introduction {
    display: flex;
    flex-direction: column;
}
/**Nav Bar**/

        .toggle-button {
            display: flex;
        }
        .navbar-links{
            display: none;
            width: 100%;
        }
        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }
        .navbar-links ul{
            width: 100%;
            flex-direction: column;
        }
        .navbar-links li{
            text-align: center;
        }
        .navbar-links li a{
            padding: .5rem 1rem;
        }
        .navbar-links.active{
            display: flex;
        }       
    }

/***TABLET Screen***/

@media screen and (min-width: 768px) {
    body{
        font-size: 2rem;
    }

    /*Introduction*/
    .container {        
        display: flex;
        flex-wrap: wrap;
    }
    .home-bgimage{
        width: 100%;
    }
     
    .home-introduction {
        display: flex;
        flex-direction: column;
    }

    /*Nav bar*/

    .toggle-button {
        display: none;
    }
    .navbar-links{
        display: flex;
    }
    .home-title
    {
    font-size: 3rem;
    }

    /**Blogs**/

    .blog1, .blog2, .blog3, .blog4, .blog5,.blog6{
        width: 50%;
    }
    .blog1, .blog3, .blog5{
        float: left;
    }
    .blog2, .blog4, .blog6{
        float: right;
    }
    .blog3 {
        background-color: rgb(210 224 255);
    }
    .blog4{
        background-color: rgb(239 244 255);
    }
/*Footer*/    
    footer{
        font-size: 20px;
    }
    .fa {
        width: 45px;
        font-size: 25px;
    }
}

/***BIG Screen***/


@media screen and (min-width: 1280px) {
    body{
        font-size: 3rem;
    }
    .home-title
    {
    font-size: 4rem;
    }

    /*Introduction*/
    .container {
        margin: 0 auto;
        display: flex;
    }
    .home-introduction{
        width: 30%;
    }
    .home-bgimage{
        width: 70%;
    }
    /***Blogs***/
    .blog1, .blog2, .blog3, .blog4, .blog5, .blog6{
        width: 33%;
        float: left;
    }
    .blog2, .blog4{
        background-color: rgb(210 224 255);        
    }
    .blog3, .blog5{
        background-color: rgb(239 244 255);
    }
   
    /*Work*/
    .work-flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .education, .experience {
        width: 50%;
        height: 50%;
    }
    .side-project{
        width: 50%;
        background-color: rgb(210 224 255);
    }

    /*Footer*/
    footer{
        font-size: 25px;
    }
    .fa {
        width: 50px;
        font-size: 30px;
    }
}